body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #010B14;
}

.navbar-brand img {
  max-height: 45px;
}

.navbar-light .navbar-nav .nav-link {
  color: #010B14;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #010B14 !important;
  font-weight: 500;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 73px;
  border-radius: 0px;
}

.btn-login {
  background-color: #0770CD;
  color: #fff;
}

.btn-login:hover {
  background-color: #1B7DD4;
  color: #fff;
}

header {
  padding: 180px 0px 150px;
  margin-top: -73px;
  background-size: cover;
  background-image: url("../images/header.png");
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #fff;
  font-size: 45px;
}

header p {
  color: #fff;
  font-size: 18px;
}

header .btn-started {
  background-color: #138CF6;
  color: #fff;
  width: 150px;
}

header .btn-started:hover {
  background-color: #138CF6;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding: 20px;
  background-color: #fff;
  padding-left: 65px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 15px;
}

.section-hospital {
  min-height: 400px;
  background-color: #0770CD;
  margin-top: -64px;
  margin-bottom: -160px;
}

.section-hospital .section-hospital-heading {
  margin-top: 120px;
}

.section-hospital h2, .section-hospital p {
  color: #fff;
}

.section-hospital h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.section-hospital-content .section-hospital-item .card-hospital {
  min-height: 380px;
  background-color: #000;
  color: white;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-hospital-content .section-hospital-item .hospital-city {
  font-size: 15px;
  color: white;
}

.section-hospital-content .section-hospital-item .hospital-name {
  font-size: 20px;
  color: white;
}

.section-hospital-content .section-hospital-item .btn-hospital-detail {
  border-radius: 2px;
  background-color: #138CF6;
  color: white;
}

.section-hospital-content .section-hospital-item .btn-hospital-detail:hover {
  background-color: #1079D6;
}

.section-service {
  min-height: 400px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: -260px;
}

.section-service .section-service-heading h2, .section-service .section-service-heading p {
  color: #010B14;
}

.section-service .section-service-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.section-service-content .section-service-item .card-service {
  min-height: 260px;
  background-color: #fff;
  color: #010B14;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(185, 185, 185, 0.2), 0 6px 20px 0 rgba(185, 185, 185, 0.2);
          box-shadow: 0 4px 8px 0 rgba(185, 185, 185, 0.2), 0 6px 20px 0 rgba(185, 185, 185, 0.2);
}

.section-service-content .section-service-item .card-service:hover {
  background-color: #1079D6;
  color: #fff;
}

.section-service-content .section-service-item .card-service .img-service {
  background-size: cover;
  max-width: 55px;
  margin-bottom: 21px;
}

.section-service-content .section-service-item .card-service .service-title {
  font-size: 21px;
}

.section-service-content .section-service-item .card-service .service-desc {
  font-size: 18px;
}

.section-footer .img-footer {
  max-width: 80px;
  margin-bottom: 40px;
}

.section-footer a {
  color: #010B14;
}

.section-detail-header {
  min-height: 300px;
  background-color: #E4E6EB;
  margin-top: -77px;
}

.section-detail-content {
  margin-top: -200px;
  min-height: 200px;
}

.section-detail-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-detail-content .breadcrumb-item.active {
  font-weight: bold;
}

.section-detail-content .card-checkout {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: -14px;
  border: 1px solid #E3E3E3;
}

.section-detail-content .card-checkout .member-title {
  font-size: 18px;
  margin-bottom: 25px;
}

.section-detail-content .card-checkout .table-checkout tbody td .ic-remove {
  font-weight: normal;
}

.section-detail-content .card-hospital {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: -14px;
  border: 1px solid #E3E3E3;
}

.section-detail-content .card-hospital .image-hospital-detail {
  border-radius: 4px;
}

.section-detail-content .card-hospital .hospital-name {
  font-size: 26px;
  color: #010B14;
}

.section-detail-content .card-hospital .hospital-city {
  font-size: 18;
  color: #B1B1B1;
  margin-bottom: 30px;
}

.section-detail-content .card-hospital .btn-buy-package {
  border-radius: 2px;
  margin-top: -15px;
  margin-bottom: 15px;
  background-color: #138CF6;
  color: white;
}

.section-detail-content .card-hospital .btn-buy-package:hover {
  background-color: #1079D6;
}

.section-detail-content .card-hospital .hospital-desc {
  font-size: 18px;
  color: #010B14;
}

.section-detail-content .section-package-header h2 {
  font-size: 20px;
}

.section-detail-content .section-package-content {
  margin-top: 30px;
}

.section-detail-content .section-package-content .card-package {
  min-height: 220px;
  border-radius: 6px;
  background-color: #000;
  color: white;
  background-size: cover;
  margin-bottom: 20px;
}

.section-detail-content .section-package-content .card-package .overlay {
  opacity: 1;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  border-radius: 6px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: white;
  height: 220px;
}

.section-detail-content .section-package-content .card-package .overlay .package-name {
  padding-top: 105px;
  padding-left: 20px;
  font-size: 18px;
}

.section-detail-content .section-package-content .card-package .overlay .package-price {
  font-size: 15px;
  margin-top: 5px;
  padding-left: 20px;
}

.section-detail-content .section-package-content .card-package .overlay .btn-package-detail {
  border-radius: 2px;
  margin-left: 20px;
  margin-top: 5px;
  background-color: #138CF6;
  color: white;
}

.section-detail-content .section-package-content .card-package .overlay .btn-package-detail:hover {
  background-color: #1079D6;
}

.card-payment {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: -14px;
  border: 1px solid #E3E3E3;
  margin-left: 50px;
}

.trip-information tr th {
  font-weight: 300;
  font-size: 18px;
  color: #071C4D;
}

.trip-information tr td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.trip-information .voucher-input {
  margin-top: 20px !important;
}

.join-container .btn-join-now {
  background-color: #138CF6;
  color: white !important;
  border-radius: 10;
}

.join-container .btn-join-now:hover {
  background-color: #1079D6;
  color: white !important;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 20px;
  color: #010B14;
}

.section-success p {
  font-weight: 300;
  font-size: 16px;
  color: #b1b1b1;
}

.section-success .btn-homepage {
  background-color: #138CF6;
  color: white !important;
  border-radius: 10;
}

.section-success .btn-homepage:hover {
  background-color: #1079D6;
  color: white !important;
}

.section-success .img-success {
  margin-bottom: 40px;
  width: 130px;
}
/*# sourceMappingURL=main.css.map */